[submodule "Trusted_Client"]
	path = Trusted_Client
	url = https://github.com/yaoxin1995/Trusted_Client.git
[submodule "master-thesis-quark"]
	path = master-thesis-quark
	url = https://github.com/yaoxin1995/master-thesis-quark.git
[submodule "kbs"]
	path = kbs
	url = https://github.com/yaoxin1995/kbs.git
